#main-flex {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dynamic-direction {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1570px) {
    .dynamic-direction {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}