.savedStretchContainer {
    height: 275px;
    width: 650px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #92D293;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0.19);
    display: grid;
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
    margin-top: 3px;
    grid-template-rows: 1fr 10fr;
}